* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 40px;
  background-color: #151515;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

h2 {
  color: white;
  text-align: center;
  font-size: 50px;
}

.card {
  border: 1px solid #4e4c4c;
  padding: 20px;
  margin: 10px;
  background-color: #4e4c4c;
  border-radius: 10px;
  min-height: 100px;
}

button {
  border: none;
  font-size: 30px;
  background-color: transparent;
  width: 100%;
  text-align: right;
  cursor: pointer;
}
